<form>
  <fieldset>

    <h4>Remove Course</h4>

    <div>
    <div style="width: 75%; float: left;">
    <input type="Text">
    </div>
    <div style="float: right;">
    <input type="Submit" value="Search CourseID">
    </div>
    </div>

<div style="width:55%; float: left;">
<label>Reason for removing course:</label>
    <input type="Text" style="width:100%; height:220px;">
</div>
    <div style="width:40%; float: right;">
        <div class="divBox">
              <h2 class="center"> Information</h2>
              <h3>Course Name: </h3>
              <h3>Location: </h3>
              <h3>Date: </h3>
              <h3>Time: </h3>
              <h3>Tutor ID: </h3>
        </div>
    </div>

<div style="width:55%; float: left;">
<br>
<input type="submit" value="Confirm removal of Course">
</div>


  </fieldset>
</form>