<form (ngSubmit) = "addCourse()">
  <fieldset>

    <h4>Create Course</h4>

    <div>
      <label>Course Name:  </label><input [(ngModel)]="newCourse.cName" type='text' name="CourseName" placeholder="Course Name"/>
    </div>

    <div>
      <label>Course Location:  </label><input [(ngModel)]="newCourse.cLocation" type='text' name="CourseLocation" placeholder="Course Location"/>
    </div>

    <div>
      <label>Course Date:  </label><input [(ngModel)]="newCourse.cDate" name="CourseDate" type="date"/>
    </div>

    <div>
      <label>Course Description:  </label><textarea [(ngModel)]="newCourse.cDescription"></textarea>
    </div>

    <div>
      <label>Tutor ID:  </label><input [(ngModel)]="newCourse.tid" type='text' name="TutorID" placeholder="Tutor ID"/>
    </div>

    <div>
      <label>Maximum Attendance:  </label><input [(ngModel)]="newCourse.maxAttend" type='text' name="MaxAttendance" placeholder="Max Attendance"/>
    </div>

    <br>

    <input type="submit"/>

  </fieldset>
</form>
