<form>
  <fieldset>

    <h4>Create Course</h4>

    <div>
      <label>Course Name:  </label><input type='text' name="CourseName" placeholder="Course Name"/>
    </div>

    <div>
      <label>Course Location:  </label><input type='text' name="CourseLocation" placeholder="Course Location"/>
    </div>

    <div>
      <label>Course Date:  </label><input name="CourseDate" type="date"/>
    </div>

    <div>
      <label>Course Description:  </label><textarea></textarea>
    </div>

    <div>
      <label>Tutor ID:  </label><input type='text' name="TutorID" placeholder="Tutor ID"/>
    </div>

    <div>
      <label>Maximum Attendance:  </label><input type='text' name="MaxAttendance" placeholder="Max Attendance"/>
    </div>

    <br>

    <button>Submit</button>

  </fieldset>
</form>
