<header class = "page-header">
  <img style="padding: 25px 25px 0px 25px;" src = 'assets/images/Kainos-MAP-800x350-Logo.png'/>
  <p class="signin-identity">You are signed in as employee</p>
</header>
<div class="container">
<p></p>
  <ngb-tabset>
    <ngb-tab title="Courses" class="nav-tabs">
      <!--TODO: Add stuff for Courses-->
      <ng-template ngbTabContent>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Date</th>
              <th scope="col">Descriptio</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Test1</td>
              <td>Test1</td>
              <td>@Test3</td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="My Courses">
      
    </ngb-tab>

    <ngb-tab title="MAP Manager">
      <!--TODO: Add stuff for MAP Manager-->
    </ngb-tab>
  </ngb-tabset>
</div>