<header class = "page-header">
  <img style="padding: 25px 25px 0px 25px;" src = 'assets/images/Kainos-MAP-800x350-Logo.png'/>
  <p class="signin-identity">You are signed in as manager</p>
</header>
<div class="container">
  <p></p>
  <ngb-tabset>
    <ngb-tab title="Courses" class="nav-tabs">
      <!--TODO: Add stuff for Courses-->
      <ng-template ngbTabContent>
        <div class="row">
          <div class="column" style="width:60%">
          <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col"></th>
              <th scope="col">Name</th>
              <th scope="col">Date</th>
              <th scope="col">Location</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let course of courses|async">
              <th scope="row"></th>
              <td>{{ course.cName}}</td>
              <td>{{ course.cDate| slice:0:10 }}</td>
              <td>{{ course.cLocation }}</td>
            </tr>
          </tbody>
        </table>
          </div>
          <div class="column" style="width:40%">
            <div class="divBox">
              <h4 class="center"> Information</h4>
              <p>Location: Park Inn</p>
              <p>Date: 01/09/2019</p>
              <p>Time: 11:30</p>
            </div>
            <hr>
            <div class="divBox">
              <h4 class="center"> Book Now</h4>
              <p style="width:30%">Email:</p>
              <input style="width:100%; height:30px" type="text" id="email">
              <p style="width:30%;"> Name:</p>
              <input style="width:100%; height:30px" type="text" id="name">
              <p style="width:100%;"> Manager Email:</p>
              <input style="width:100%; height:30px" type="text" id="mEmail">
              <p></p>
              <button onclick="alert('Submitted');" style="position: relative; align-text:center" class="buttonCourse">Book Now</button>
            </div>
          </div>
        </div>

      </ng-template>
    </ngb-tab>

    <ngb-tab title="My Courses">
      <ng-template ngbTabContent>
      <div style="width: 60%; float: left; border: 1px solid black; height: 300px">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Date</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Just can't Git this</td>
              <td>03/10/2019</td>
              <td>Park Inn</td>
            </tr>
          </tbody>
        </table>
        </div>
        <div style="overflow-x: auto; border: solid black 1px; border-right: solid black 2px; height: 450px; width: 35%; float: right; padding-left: 15px; padding-right: 15px;" align="center">
        <h2 style="text-align: center">Course Info:</h2>
        <label for="Info" text-align="middle">This course ventures into the depths of professionalism within a company and gives the trainees insight in a company. This course will be taken over so many days and it will be for all employees with the company.</label>
        <input type="submit" align="left"  value="Cancel Course?" class="button" onmouseover="button:hover" style="position: relative; top: 5%;">
        </div>
        <div style="border: 1px solid black; height: 150px; width: 60%; float: left;" align="center">
        Email:
        <input type="text" style="position: relative; top: 5%;" style="width: 40%; height:20%;"> <br>
        <input type="submit" class="button" style="position: relative; top: 20%;" value="Search Email">
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="MAP Manager">
      <!--TODO: Add stuff for MAP Manager-->
      <ng-template ngbTabContent>
        <ngb-tabset>
          <ngb-tab title="Create Course">
            <ng-template ngbTabContent>
              <win-add-course></win-add-course>
            </ng-template>
          </ngb-tab>

          <ngb-tab title="Edit Course">
            <ng-template ngbTabContent>
              <win-edit-course></win-edit-course>
            </ng-template>
          </ngb-tab>

          <ngb-tab title="Remove Course">
            <ng-template ngbTabContent>
              <win-remove-course></win-remove-course>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
